body {
	font-family: 'Bitter', serif;
	background-color: #513B56;
	background-image: url('http://myexplorationadventure.surge.sh/zombieStory/img/zbackground.jpg'); 
	background-size: cover;
	margin-bottom: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	padding-left: 25px;
}

h1 {
	font-family: 'Bitter', serif;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #348AA7;
	text-align: center;
	border-radius: 25px;
}

header {
	font-family: 'Bitter', serif;
	color: #BCE784;
	text-align: center;
}

.dictionary {
	position: absolute;
	top: 0;
	right: 0%;
	height: 50px;
	width: auto;
	padding: 0;
	margin-right: 20px;
	margin-top: 20px;
}

.storytext {
	font-family: 'Bitter', serif;
	background-color: #BFB7C1;
	padding: 10px;
	margin: 10px;
}

h4 {
	font-family: 'Bitter', serif;
	margin-bottom: 30px;
}

#zombies{
	background-color: #5DD39E;
	width: auto;
	border-radius: 25px;
	margin: 0;
}

#spacesuit {
	background-image: url("https://blog.spoongraphics.co.uk/wp-content/uploads/2013/vector-planets/29.jpg");
	background-size: 100%;
	border-radius: 25px;
	margin: 0;

}

img {
	height: 300px;
	margin-top: 30px;
}

#zombiehead {
	text-align: center;
}

.option {
	font-family: 'Bitter', serif;
	color: #BCE784;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	background-color: #348AA7;
	border-radius: 25px;
	font-size: 25px;
	line-height: 1;
	padding: 20px;
}

footer{
	font-family: 'Bitter', serif;
	background-color: #525174;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}

footer p {
	font-family: 'Bitter', serif;
	text-align: center;
	padding-top: 15px;
}

.nopadding {
	padding: 0;
}
 .pic {
 	padding: 0;
 	margin: 0;
 	object-fit: contain;
 }