h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #348AA7;
	text-align: center;
	border-radius: 25px;
	margin: 0, 25px, 0, 25px;
}

header {
	color: #BCE784;
	text-align: center;
}

.storytext {
	background-color: #BFB7C1;
	padding: 10px;
	margin: 10px;
}

h4 {
	margin-bottom: 30px;
}

body {
	background-color: #513B56;
	margin-bottom: 50px;
}

#zombies{
	background-color: #5DD39E;
	width: auto;
	border-radius: 25px;
	margin: 0;
}

#spacesuit {
	background-image: url("https://blog.spoongraphics.co.uk/wp-content/uploads/2013/vector-planets/29.jpg");
	background-size: 100%;
	border-radius: 25px;
	margin: 0;

}

img {
	height: 300px;
	margin-top: 30px;
}

.option {
	color: #BCE784;
	margin-top: 50px;
	text-align: center;
	background-color: #348AA7;
	border-radius: 25px;
}

footer{
	background-color: #525174;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}

footer p {
	text-align: center;
	padding-top: 15px;
}

.nopadding {
	padding: 0;
}